<style>
	.card {
		box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
		transition: 0.3s;
	}

	.boxbdymt {
		margin-top: 25px;
	}

	.fa_edt {
		font-size: 22px;
		color: rgb(4, 117, 161);
		font-weight: bold;
	}

	.fa_dlt {
		font-size: 22px;
		color: red;
		font-weight: bold;
	}

	.fa_detail {
		font-size: 24px;
		color: rgb(202, 132, 3);
		font-weight: bold;
	}

	.fa_chk {
		font-size: 22px;
		color: green;
		font-weight: bold;
	}

	.fa_cros {
		font-size: 22px;
		color: red;
		font-weight: bold;
	}

	input[type="date"].form-control,
	input[type="datetime-local"].form-control,
	input[type="month"].form-control,
	input[type="time"].form-control {
		line-height: 13px;
	}

	.nav-tabs-custom>.nav-tabs>li.active {
		border-top-color:
			#519f45;
	}

	.tab_display {
		display: none !important;
	}

	.selectBox {
		position: relative;
	}

	.selectBox select {
		width: 100%;
	}

	.overSelect {
		position: absolute;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
	}

	#checkboxes {
		display: none;
		border: 1px #dadada solid;
	}

	#checkboxes label {
		display: block;
	}

	#checkboxes label:hover {
		background-color: #1e90ff;
	}

	input[type=checkbox],
	input[type=radio] {
		margin: 5px 7px 0;
	}
</style>
<div class="content-wrapper">
	<section class="invoice">
		<div class="row">
			<div class="col-xs-12">
				<div class="row">
					<div class="nav-tabs-custom">
						<div class="row" id="addressArea">
							<div class="col-md-12 form-horizontal">
								<div class="box-body">
									<div class="row">
										<div class="col-xs-12">
											<h4 class="box-title">Inventory Report
												<button type="button" onclick="downloadPdf()"
													class="btn btn-default btn-sm">Download as PDF</button>
											</h4>
										</div>
									</div>
									<div class="row">
										<div class="col-md-6">
											<div class="form-group">
												<div class="col-sm-12">
													<label>From</label>
													<input type="date" class="form-control" name="bday" id="fromDate">
												</div>
											</div>
										</div>
										<div class="col-md-6">
											<div class="form-group">
												<div class="col-sm-12 ">
													<label>To</label>
													<input type="date" class="form-control" id="toDate">
												</div>
											</div>
										</div>
									</div>
									<div class="row">
										<div class="col-md-6">
											<div class="form-group">
												<div class="col-sm-12">
													<select id="item" class="form-control"></select>
												</div>
											</div>
										</div>
										<div class="col-md-6">
											<div class="form-group">
												<div class="col-sm-12 ">
													<select class="form-control" id="brand"></select>
												</div>
											</div>
										</div>
									</div>
									<div class="row">
										<div class="col-md-6">
											<button class="btn btn-flat btn-primary" onclick="report()"> Inventory Report</button>
										</div>
									</div>
									<br />
									<div class="row">
										<div class="col-md-12 form-horizontal">
											<div class="box">
												<div class="box-body table-responsive no-padding">
													<table class="table table-hover">
														<thead id="tableHead"></thead>
														<tbody id="reportTable"></tbody>
													</table>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<div class="clearfix"></div>
</div>

<script src="/dependencies/jquery.js"></script>
<script src="/js/dropdown.js"></script>
<script src="/js/table.js"></script>
<script src="/plugins/pdfmake/pdfmake.min.js"></script>
<script src="/plugins/pdfmake/vfs_fonts.min.js"></script>
<script src="/js/pdf.js"></script>
<script>
	let allProducts = [], reportData = [];
	$.get('/api/products', (data) => {
		const productNames = [];
		allProducts = data.map(element => {
			productNames.push(element.name);
			return { name: element.name, id: element.id, unit: element.unit };
		});
		setSelectionList('item', productNames, 'Select Product');
	});

	setLovData('tov?type=Product Brand', 'brand', 'Select Brand');

	function report() {
		const fromDate = document.getElementById('fromDate').value;
		const toDate = document.getElementById('toDate').value;
		const item = document.getElementById('item').value;
		const brand = document.getElementById('brand').value;
		
		let link = '/api/stockreport?fromDate=' + fromDate + '&toDate=' + toDate;
		if(item) {
			const itemid = allProducts.find(e => item == e.name).id;
			link += '&item=' + item 
		}
		if(brand) link += '&brand=' + brand;

		$.get(link, (res) => reportData = res);


	}

</script>