<style>
	.card {
		/* Add shadows to create the "card" effect */
		box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
		transition: 0.3s;
	}

	.boxbdymt {
		margin-top: 25px;
	}

	.fa_edt {
		font-size: 22px;
		color: rgb(4, 117, 161);
		font-weight: bold;
	}

	.fa_dlt {
		font-size: 22px;
		color: red;
		font-weight: bold;
	}

	.fa_detail {
		font-size: 24px;
		color: rgb(202, 132, 3);
		font-weight: bold;
	}
</style>
<div class="content-wrapper">
	<section class="content-header">
		<h1>Issue<small>Settings</small></h1>
		<ol class="breadcrumb">
			<li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
			<li><a href="#">Master Settings</a></li>
		</ol>
	</section>
	<section class="invoice">
		<div class="row">
			<div class="card col-md-6 form-horizontal col-md-offset-3">
				<div class="box-body boxbdymt">
					<div class="form-group">
						<div class="col-sm-12">
							<select id="item" class="form-control" onchange="getBrand(this)"></select>
						</div>
					</div>
					<div class="form-group">
						<div class="col-sm-12">
							<select id="brand" class="form-control" onchange="getIssueItems()"></select>
						</div>
					</div>
					<div class="form-group">
						<div class="col-sm-12"><select id="customer" class="form-control"></select></div>
					</div>
					<div class="form-group">
						<div class="col-sm-12">
							<textarea class="form-control" rows="3" id="remark" placeholder="Remark"></textarea>
						</div>
					</div>
					<div class="row" style="margin-bottom: 20px;">
						<div class="col-md-10">
							<div class="row">
								<div class="box-footer pull-left" style="border-top: 0px; margin-left: 4px;">
									<button class="btn btn-flat btn-primary" id="editBtn" onclick="submitEdit()" style="display:none;" id="submitEdit"> Save </button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div><br><br><br>

		<div class="row">
			<div class="col-xs-12">
				<div class="box">
					<div class="box-header">
						<h3 class="box-title">Add Issue Note</h3>
					</div>
					<div class="box-body table-responsive no-padding">
						<table class="table table-hover">
							<thead>
								<th>Item</th>
								<th>Brand</th>
								<th>Stock</th>
								<th>Quantity</th>
								<th>Price</th>
								<th>Amount</th>
								<th>Delete</th>
							</thead>
							<tbody id="issueTable"></tbody>
						</table>
					</div>
				</div>
				<div class="row" style="margin-bottom: 20px;">
					<div class="col-md-10">
						<div class="row">
							<div class="box-footer pull-left" style="border-top: 0px; margin-left: 4px;">
								<button class="btn btn-flat btn-success" onclick="submit()">Save</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-xs-12">
				<div class="row">
					<div class="box">
						<div class="box-header">
							<h3 class="box-title">List of Issue Notes</h3>
							<div class="box-tools">
								<div class="input-group input-group-sm" style="width: 150px;">
									<input type="text" name="table_search" class="form-control pull-right"
										placeholder="Search">
									<div class="input-group-btn">
										<button type="submit" class="btn btn-flat btn-success"><i
												class="fa fa-search"></i></button>
									</div>
								</div>
							</div>
						</div>
						<div class="box-body table-responsive no-padding">
							<table class="table table-hover">
								<thead>
									<th>Item</th>
									<th>Brand</th>
									<th>Quantity</th>
									<th>Amount</th>
									<th>Batch</th>
									<th>Action</th>
								</thead>
								<tbody id="viewTable"></tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<div class="clearfix"></div>
</div>

<!-- <div class="control-sidebar-bg"></div> -->
<script src="/dependencies/jquery.js"></script>
<script src="/js/dropdown.js"></script>
<script>
	let allProducts = [], addedIssues = [], previousIssues = [], customers = [], selectedId = 0;

	getProducts();
	getCustomers();
	setLovData('tov?type=Warrenty', 'warrentyPeriod', 'Select Warrenty');
	getIssues();

	function getIssues() {
		$.get('/api/issues', (data) => {
			previousIssues = data;
			updateViewTable();
		});
	}
	
	function getProducts() {
		$.get('/api/products', (data) => {
			const productNames = [];
			allProducts = data.map(element => {
				productNames.push(element.name);
				return { name: element.name, id: element.id, unit: element.unit };
			});
			setSelectionList('item', productNames, 'Select Product');
		});
	}

	function getBrand(element) {
		const itemid = allProducts.find(e => e.name == element.value).id;
		$.get('/api/receivedbrands?item=' + itemid, (data) => {
			if(!data || data.length == 0) {
				alert('Item Not Avilable');
				element.value = null;
			}
			setSelectionList('brand', data, 'Select Brand');
		});
	}

	function getCustomers() {
		$.get('/api/companies?type=Customer', (data) => {
			const customerNames = [];
			customers = data.map(element => {
				customerNames.push(element.name);
				return { name: element.name, id: element.id };
			});
			setSelectionList('customer', customerNames, 'Select Customer');
		});
	}

	function getIssueItems() {
		const item = getSelectedText('item');
		const itemid = allProducts.find(e => e.name == item).id;
		const brand = getSelectedText('brand');
		$.get('/api/issueItems?item=' + itemid + '&brand=' + brand, (data) => {
			addedIssues = addedIssues.concat(data.map(e => {
				e.item = item;
				e.itemid = itemid;
				e.brand = brand;
				return e;
			}));
			updateIssueTable()
		});
	}

	function updateIssueTable() {
		const tableBody = document.getElementById('issueTable');
		tableBody.innerHTML = '';
		addedIssues.forEach((element, index) => {
			let row = tableBody.insertRow();

			addCell(row, element.item);
			addCell(row, element.brand);
			addCell(row, element.total);
			insertCustomCell(row, '<input type="number" onchange="updateAmount(' + index + ')" id=issueQt' + index + ' value="0"></i>');
			insertCustomCell(row, '<input type="number" onchange="updateAmount(' + index + ')" id=price' + index + ' value="0"></i>');
			insertCustomCell(row, '<span id="amount' + index + '">0</span>');
			insertCustomCell(row, '<i class="fa fa-trash-o fa_dlt" onclick="deleteRow(' + index + ')"></i>');
		});
	}

	function updateAmount(index) {
		const qt = document.getElementById('issueQt' + index).value;
		const price = document.getElementById('price' + index).value;
		document.getElementById('amount' + index).innerHTML = Number.parseFloat(qt) * Number.parseFloat(price);
	}

	function deleteRow(index) {
		addedIssues.splice(index, 1);
		updateIssueTable();
	}

	function logout() {
		localStorage.removeItem('token');
		window.open('/login', '_self');
	}

	function submit() {
		const data = addedIssues.map((element, index) => {
				element.date = moment().format('YYYY-MM-DD');
				element.company = document.getElementById('customer').value;
				element.remark = document.getElementById('remark').value;
				element.companyid = customers.find(e => e.name == element.company).id;
				element.unit = allProducts.find(e => e.id == element.itemid).unit;

				delete element.unitprice;
				element.price = document.getElementById('price' + index).value;
				element.quantity = document.getElementById('issueQt' + index).value;

				return element;
			});

			console.log(data);
		$.post('/api/updateissue', {data}, (res) => alert('Updated'));
	}

	function updateViewTable() {
		const viewTable = document.getElementById('viewTable');
		viewTable.innerHTML = '';
		let row;

		previousIssues.forEach((element, index) => {
			row = viewTable.insertRow();

			addCell(row, element.item);
			addCell(row, element.brand);
			addCell(row, element.quantity);
			addCell(row, element.quantity * element.price);
			addCell(row, element.batch);
			insertCustomCell(row, '<i class="fa fa-edit fa_edt" onclick="editReceive(' + index + ')"></i> &nbsp; <i class="fa fa-trash-o fa_dlt" onclick="deleteRecord(' + index + ')"></i>');
		});
	}

	function addCell(row, data) {
		const cell = row.insertCell();
		cell.append(data);
	}

	// function editReceive(index) {
	// 	const selectedReceive = previousReceives[index];
	// 	selectedId = selectedReceive.id;

	// 	inputList.forEach(id => {
	// 		const currentValue = selectedReceive[id];
	// 		if(!currentValue) currentValue = '';
	// 		document.getElementById(id).value = currentValue;
	// 	});

	// 	dropdownIds.forEach(id => setSelectedValue(id, selectedReceive[id]));

	// 	const warrenty = previousReceives[index].warrenty;
	// 	let end = warrenty.length - 1;
	// 	while(warrenty.charAt(end) != ' ') end--;
	// 	const warrentyPeriod = warrenty.substring(0, end);
	// 	setSelectedValue('warrentyPeriod', warrentyPeriod);

	// 	document.getElementById('guarantee').checked = warrenty.charAt(end + 1) === 'G';
	// 	document.getElementById('warrenty').checked = warrenty.charAt(end + 1) === 'W';

	// 	document.getElementById('addBtn').style.display= 'None';
	// 	document.getElementById('editBtn').style.display = 'Block';
	// }

	

	// function submitEdit() {
	// 	addData();
	// 	$.ajax({
	// 		url: '/api/receive', method: 'PUT', data: {data: addedItems[0], id: selectedId}, success: res => {
	// 			if (res.update) {
	// 				getReceives();
	// 				selectedId = null;
	// 				addedItems = [];
	// 				updateTable();
	// 			}
	// 			else alert(res.message);
	// 		}
	// 	});
	// }
	
</script>
